<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>backbone - 用户管理</title>
	<link rel="stylesheet" type="text/css" href="css/main.css" >

	<script type="text/javascript" src="js/vendor/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="js/vendor/underscore.js"></script>
	<script type="text/javascript" src="js/vendor/backbone.js"></script>
	<script type="text/javascript" src="js/vendor/backbone-localstorage.js"></script>

	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>

	<!-- template -->

	<script type="text/template" id="list-template">
		<a href="#">新增</a>
		<ul id="list">
		</ul>
	</script>

	<script type="text/template" id="item-template">
		<a href="javascript:void(0);" class="viewUser"><%= username %></a>
		<a href="javascript:void(0);" class="removeUser">删除</a>
	</script>

	<script type="text/template" id="detail-template">
		<p>编号：<%= userid %></p>
		<a href="javascript:void(0);" class="editUser">名字：<%= username %></a>
	</script>

	<script type="text/template" id="modify-template">
		<input type="text" value="<%= username %>" />
		<a href="javascript:void(0);" class="add"><%= !username ? "增加" : "修改" %></a>
	</script>
</body>
</html>